<a href="https://colab.research.google.com/github/luis-jaramillo-talentotech/Talento_Tech_Analisis_de_datos_Basico/blob/main/Laboratorio_7_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-	Crear un DataFrame con los nombres, profesión y países de 8 personas, y luego imprimir el DataFrame.

In [1]:
import pandas as pd
data = {
    'Nombre': ['Fabian', 'Camila', 'Luis', 'Andrea', 'Carlos', 'Daniela', 'Juan', 'Sofia'],
    'Profesión': ['Ingeniero', 'Médica', 'Abogado', 'Arquitecta', 'Contador', 'Diseñadora', 'Maestro', 'Psicóloga'],
    'País': ['Colombia', 'Argentina', 'México', 'Chile', 'Perú', 'Uruguay', 'Paraguay', 'Bolivia']
}
df = pd.DataFrame(data)
print(df)

    Nombre   Profesión       País
0   Fabian   Ingeniero   Colombia
1   Camila      Médica  Argentina
2     Luis     Abogado     México
3   Andrea  Arquitecta      Chile
4   Carlos    Contador       Perú
5  Daniela  Diseñadora    Uruguay
6     Juan     Maestro   Paraguay
7    Sofia   Psicóloga    Bolivia