<a href="https://colab.research.google.com/github/luis-jaramillo-talentotech/Talento_Tech_Analisis_de_datos_Basico/blob/main/Laboratorio_10_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Salud Digital y Análisis de Datos de Pacientes

Se tiene un conjunto de datos sobre pacientes que incluye nombre, edad, fecha de ingreso y resultados de pruebas. Algunos registros están incompletos o contienen errores.

In [6]:
import pandas as pd
import numpy as np

data = {
    'Nombre': ['Carlos' , 'Ana' , 'Luis' , 'Pedro' , 'María' , None],
    'Edad': [34, 29, None, 45, 25, 33],
    'FechaIngreso': ['2021-01-15' , '2020/03/12' , '2022-07-01' , '2021/12/01' , '2021-05-20', '2020-03-12'],
    'ResultadoPrueba': ['Positivo' , 'Negativo' , 'Positivo', 'Positivo' , 'Negativo' , 'Negativo']
}

df = pd.DataFrame(data)
print("Información completa:")
print(df)

# Identificar y contar los valores faltantes en cada columna.
valores_faltantes = df.isnull().sum()
print("\nValores faltantes por columna:")
print(valores_faltantes)

# Retirar registros sin Nombre
nombre_incorrecto = df[df['Nombre'].isnull()]
index = nombre_incorrecto.index
df = df.drop(index)
df = df.reset_index(drop=True)
print("\nTabla sin nombres Incorrectos:")
print(df)

# Reemplazar 'NaN' en 'Edad' por la media de edades
df['Edad'] = df['Edad'].fillna(df['Edad'].mean())
print("\nTabla con valores de edad inválidos reemplazados por la media:")
print(df)

# Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.
df['FechaIngreso'] = df['FechaIngreso'].str.replace('/', '-')
df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'], errors='coerce', format='%Y-%m-%d')
print("\nDatos después de estandarizar 'FechaIngreso':")
print(df)

Información completa:
   Nombre  Edad FechaIngreso ResultadoPrueba
0  Carlos  34.0   2021-01-15        Positivo
1     Ana  29.0   2020/03/12        Negativo
2    Luis   NaN   2022-07-01        Positivo
3   Pedro  45.0   2021/12/01        Positivo
4   María  25.0   2021-05-20        Negativo
5    None  33.0   2020-03-12        Negativo

Valores faltantes por columna:
Nombre             1
Edad               1
FechaIngreso       0
ResultadoPrueba    0
dtype: int64

Tabla sin nombres Incorrectos:
   Nombre  Edad FechaIngreso ResultadoPrueba
0  Carlos  34.0   2021-01-15        Positivo
1     Ana  29.0   2020/03/12        Negativo
2    Luis   NaN   2022-07-01        Positivo
3   Pedro  45.0   2021/12/01        Positivo
4   María  25.0   2021-05-20        Negativo

Tabla con valores de edad inválidos reemplazados por la media:
   Nombre   Edad FechaIngreso ResultadoPrueba
0  Carlos  34.00   2021-01-15        Positivo
1     Ana  29.00   2020/03/12        Negativo
2    Luis  33.25   2022-07-01        Positivo
3   Pedro  45.00   2021/12/01        Positivo
4   María  25.00   2021-05-20        Negativo

Datos después de estandarizar 'FechaIngreso':
   Nombre   Edad FechaIngreso ResultadoPrueba
0  Carlos  34.00   2021-01-15        Positivo
1     Ana  29.00   2020-03-12        Negativo
2    Luis  33.25   2022-07-01        Positivo
3   Pedro  45.00   2021-12-01        Positivo
4   María  25.00   2021-05-20        Negativo

2.	Comercio Electrónico y Recomendaciones Personalizadas

Se tiene un conjunto de datos sobre transacciones de clientes que incluye el ID del cliente, el producto comprado, la cantidad, el precio y la fecha de la transacción. Algunos registros tienen errores en los precios y fechas.

In [23]:
import pandas as pd
import numpy as np

data = {
    'Cliente_ID': [1 , 2 , 3 , 4 , 5 ],
    'Producto': ['A' , 'B' , 'C', 'D' , 'E'],
    'Cantidad': [10 , 20 , None , 5 , 15 ],
    'Precio': ['100' , '200$' , '300' , 'cuatrocientos' , '500' ],
    'Fecha_transacción' : ['2023-01-15' , '2023/02/20' , '2023-03-25' , '2023/04/30' , '2023-05-10']
}

df = pd.DataFrame(data)
print("Información completa:")
print(df)

# Identificar y contar los valores faltantes en cada columna.
valores_faltantes = df.isnull().sum()
print("\nValores faltantes por columna:")
print(valores_faltantes)

# Reemplazar 'NaN' en 'Cantidad' por la media de Cantidades
df['Cantidad'] = df['Cantidad'].fillna(df['Cantidad'].mean())
print("\nTabla con valores de Cantidad inválidos reemplazados por la media:")
print(df)

# Quitar símbolos de columna 'Precio'
df['Precio'] = df['Precio'].str.replace('[$]', '', regex=True)
print('\nTabla con símbolos de Precio removidos:')
print(df)

# Verificar el formato de la columna 'Precio' para asegurar que todos los valores sean numéricos.
Precios_incorrectos = df[~df['Precio'].str.replace('[^0-9]', '', regex=True).fillna('').str.isdigit()]
print('\nPrecios incorrectos:')
print(Precios_incorrectos)

# Reemplazar el Precio_incorrecto por la media
index = Precios_incorrectos.index
df.loc[index, 'Precio'] = None
df['Precio'] = df['Precio'].astype(np.float64) # Puede usarse también .astype(int)
df['Precio'] = df['Precio'].fillna(df['Precio'].mean())
print('\nTabla con Precios numéricos:')
print(df)

# Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.
df['Fecha_transacción'] = df['Fecha_transacción'].str.replace('/', '-')
df['Fecha_transacción'] = pd.to_datetime(df['Fecha_transacción'], errors='coerce', format='%Y-%m-%d')
print("\nDatos después de estandarizar 'Fecha_transacción':")
print(df)

Información completa:
   Cliente_ID Producto  Cantidad         Precio Fecha_transacción
0           1        A      10.0            100        2023-01-15
1           2        B      20.0           200$        2023/02/20
2           3        C       NaN            300        2023-03-25
3           4        D       5.0  cuatrocientos        2023/04/30
4           5        E      15.0            500        2023-05-10

Valores faltantes por columna:
Cliente_ID           0
Producto             0
Cantidad             1
Precio               0
Fecha_transacción    0
dtype: int64

Tabla con valores de Cantidad inválidos reemplazados por la media:
   Cliente_ID Producto  Cantidad         Precio Fecha_transacción
0           1        A      10.0            100        2023-01-15
1           2        B      20.0           200$        2023/02/20
2           3        C      12.5            300        2023-03-25
3           4        D       5.0  cuatrocientos        2023/04/30
4           5        E      15.0            500        2023-05-10

Tabla con símbolos de Precio removidos:
   Cliente_ID Producto  Cantidad         Precio Fecha_transacción
0           1        A      10.0            100        2023-01-15
1           2        B      20.0            200        2023/02/20
2           3        C      12.5            300        2023-03-25
3           4        D       5.0  cuatrocientos        2023/04/30
4           5        E      15.0            500        2023-05-10

Precios incorrectos:
   Cliente_ID Producto  Cantidad         Precio Fecha_transacción
3           4        D       5.0  cuatrocientos        2023/04/30

Tabla con Precios numéricos:
   Cliente_ID Producto  Cantidad  Precio Fecha_transacción
0           1        A      10.0   100.0        2023-01-15
1           2        B      20.0   200.0        2023/02/20
2           3        C      12.5   300.0        2023-03-25
3           4        D       5.0   275.0        2023/04/30
4           5        E      15.0   500.0        2023-05-10

Datos después de estandarizar 'Fecha_transacción':
   Cliente_ID Producto  Cantidad  Precio Fecha_transacción
0           1        A      10.0   100.0        2023-01-15
1           2        B      20.0   200.0        2023-02-20
2           3        C      12.5   300.0        2023-03-25
3           4        D       5.0   275.0        2023-04-30
4           5        E      15.0   500.0        2023-05-10

Escenario: eres un analista de datos en una pequeña empresa que está recopilando información sobre sus clientes.  

El equipo de ventas te entrega un archivo con los siguientes datos:
•	Nombre de los clientes
•	Edad
•	Correo electrónico
•	País
•	Género
•	Número de visitas a la tienda

Sin embargo, cuando abres el archivo, te das cuenta de que hay problemas en los datos:

1.	Valores faltantes: Algunos clientes no tienen información sobre su edad o correo electrónico.
2.	Duplicados: Algunos clientes han sido registrados más de una vez.
3.	Inconsistencias: Hay diferentes formas de escribir el género ("M", "Masculino", "F", "Femenino").
4.	Errores tipográficos: El nombre de algunos países está en minúsculas o mal escrito.
5.	Valores inválidos: Hay una edad registrada que parece imposible (200 años).

In [42]:
import pandas as pd

columns = ['Nombre' , 'Edad' , 'Email' , 'Pais', 'Genero' , 'Visitas']
datos = [
['Juan',25,'juan@mail.com','colombia','M',5 ],
['Maria',30,'maria@mail.com','Colombia','F',7 ],
['Pedro',None,'pedro@mail.com','Mexico','H',6 ],
['Ana',29,'ana@mail.com','Argentina','F',4 ],
['Luisa',28,'luisa@mail.com','Colombia','Femenino',8 ],
['Carlos',200,'carlos@mail.com','Brazil','M',2 ],
['Juan',25,'juan@mail.com','colombia','M',5 ]
]

df = pd.DataFrame(datos, columns=columns)
print("Información completa:")
print(df)

# Retirar registros repetidos y arreglar índices
df = df.drop_duplicates('Nombre', keep='last')
df = df.reset_index(drop=True)
print("\nTabla sin nombres repetidos e índices corregidos:")
print(df)

# Identificar y contar los valores faltantes en cada columna.
valores_faltantes = df.isnull().sum()
print("\nValores faltantes por columna:")
print(valores_faltantes)

# Corregir valores inválidos en 'Edad'
df.loc[df['Edad'] > 100, 'Edad'] = None
df['Edad'] = df['Edad'].fillna(df['Edad'].mean())
print("\nTabla con valores de Edad inválidos reemplazados por la media:")
print(df)

# Estandarizar el 'Pais'
df['Pais'] = df['Pais'].str.capitalize()
print("\nTabla con valores de País estandarizados:")
print(df)

# Estandarizar el 'Genero'
df['Genero'].replace({'H': 'Masculino'}, inplace=True)
df['Genero'].replace({'M': 'Masculino', 'F': 'Femenino'}, inplace=True)
print("\nTabla con valores de Género estandarizados:")
print(df)

Información completa:
   Nombre   Edad            Email       Pais    Genero  Visitas
0    Juan   25.0    juan@mail.com   colombia         M        5
1   Maria   30.0   maria@mail.com   Colombia         F        7
2   Pedro    NaN   pedro@mail.com     Mexico         H        6
3     Ana   29.0     ana@mail.com  Argentina         F        4
4   Luisa   28.0   luisa@mail.com   Colombia  Femenino        8
5  Carlos  200.0  carlos@mail.com     Brazil         M        2
6    Juan   25.0    juan@mail.com   colombia         M        5

Tabla sin nombres repetidos e índices corregidos:
   Nombre   Edad            Email       Pais    Genero  Visitas
0   Maria   30.0   maria@mail.com   Colombia         F        7
1   Pedro    NaN   pedro@mail.com     Mexico         H        6
2     Ana   29.0     ana@mail.com  Argentina         F        4
3   Luisa   28.0   luisa@mail.com   Colombia  Femenino        8
4  Carlos  200.0  carlos@mail.com     Brazil         M        2
5    Juan   25.0    juan@mail.com   colombia         M        5

Valores faltantes por columna:
Nombre     0
Edad       1
Email      0
Pais       0
Genero     0
Visitas    0
dtype: int64

Tabla con valores de Edad inválidos reemplazados por la media:
   Nombre  Edad            Email       Pais    Genero  Visitas
0   Maria  30.0   maria@mail.com   Colombia         F        7
1   Pedro  28.0   pedro@mail.com     Mexico         H        6
2     Ana  29.0     ana@mail.com  Argentina         F        4
3   Luisa  28.0   luisa@mail.com   Colombia  Femenino        8
4  Carlos  28.0  carlos@mail.com     Brazil         M        2
5    Juan  25.0    juan@mail.com   colombia         M        5

Tabla con valores de País estandarizados:
   Nombre  Edad            Email       Pais    Genero  Visitas
0   Maria  30.0   maria@mail.com   Colombia         F        7
1   Pedro  28.0   pedro@mail.com     Mexico         H        6
2     Ana  29.0     ana@mail.com  Argentina         F        4
3   Luisa  28.0   luisa@mail.com   Colombia  Femenino        8
4  Carlos  28.0  carlos@mail.com     Brazil         M        2
5    Juan  25.0    juan@mail.com   Colombia         M        5

Tabla con valores de Género estandarizados:
   Nombre  Edad            Email       Pais     Genero  Visitas
0   Maria  30.0   maria@mail.com   Colombia   Femenino        7
1   Pedro  28.0   pedro@mail.com     Mexico  Masculino        6
2     Ana  29.0     ana@mail.com  Argentina   Femenino        4
3   Luisa  28.0   luisa@mail.com   Colombia   Femenino        8
4  Carlos  28.0  carlos@mail.com     Brazil  Masculino        2
5    Juan  25.0    juan@mail.com   Colombia  Masculino        5

<ipython-input-42-4eea2d384c95>:41: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].replace({'H': 'Masculino'}, inplace=True)